{% extends "base_generic.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock %}

{% block content %}
<ul class = 'article-list'>
{% for article in article_list %}
<li class = 'article-list__article'>
<div class = 'article'>
<a class = "article__title" href = "{{article.get_detail_url}}">
    {{article.title}}
</a>
<div class = 'article__description'>
	<span>{{article.small_text | safe}}</span>
</div>
<div class = "article_footer">
<div class = "article_footer__item">

Автор: <a href = "{{article.author.profile.get_absolute_url}}">{{ article.author}}</a>

</div>
<div class = "article_footer__item">

Дата: {{article.date}}

</div>

<div class = "article_footer__item">

Комментариев: {{ article.get_number_comments }}

</div>
</div>
</div>
</li>
{% endfor %}
</ul>

{% if is_paginated %}
<div class = "pagination">

{% if page_obj.has_previous %}
<a href = "/?page={{ page_obj.previous_page_number}}">Предидущая</a>
{% endif %}
<span> {{ page_obj.number }}</span>
{% if page_obj.has_next %}
<a href = "/?page={{ page_obj.next_page_number}}">Следующая</a>
{% endif %}

</div>
{% endif %}


{% endblock %}