{% extends "base_generic.html" %}

{% block content %}

<ul class = 'article-list'>
{% for article in article_list %}
<li class = 'article-list__article'>
<div class = 'article'>
<a href = "{{article.get_detail_url}}"class = 'article__title'>
    {{article.title}}
</a>
<span class = 'article__description'>
	{{article.small_text}}
</span>
<div class = "article__footer">
<span class = 'article__date'>
    {{article.date}} 
</span>

<span class = 'article__author'>
Автор: {{ article.author}}  Комментариев: {{ article.get_number_comments }}
</span>
</div>
</div>
</li>
{% endfor %}
</ul>

{% if is_paginated %}
<div class = "pagination">

{% if page_obj.has_previous %}
<a href = "/?page={{ page_obj.previous_page_number}}">Предидущая</a>
{% endif %}
<span> {{ page_obj.number }}</span>
{% if page_obj.has_next %}
<a href = "/?page={{ page_obj.next_page_number}}">Следующая</a>
{% endif %}

</div>
{% endif %}


{% endblock %}