{% extends "base_generic.html" %}
{% block head %}
<title>Создать запись</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/article_edit.css' %}">
{% endblock %}
{% block content %}
<style>
.page__header{
	background-color: #00CC33;
}
</style>
<form action = "" method="POST" class = "article-form">
{% csrf_token %}
<div>
<p><label for = "id_title">Название статьи</label></p>
{{form.title}}
</div>
<div>
<p><label for = "id_text_content">Содержание</label></p>
{{form.text_content}}</div>
<div>
<input class = 'btn-success' type = "submit" value = "Отправить">
</form>

{% endblock %}