{% extends "base_generic.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
{% endblock %}


{% block content %}
<style>
.page__header{
	background-color: #ff9800;
}
</style>
<div class = "article">
{% if can_edit %}
<a href = "{% url 'article_update' article.pk %}">
Редактировать
</a>
{% endif %}
<h1 class = "article__title">
{{article.title}}
</h1>
<p class = "article__text">
{{article.get_markdown | safe}}
</p>
</div>
{% if comment_form %}
<div class = "add_comment">
<p> Добавить комментарий </p>
<form action = '' method = 'POST'>
{% csrf_token %}


{{comment_form.text_content}}
<input type = "submit" value = "Отправить" class = "btn-danger">
</form>
</div>

{% else %}
<span> Зарегистрируйтесь, чтобы оставлять комментарии</span>
{% endif %}
<ul class = "comments">
{% for comment in comments %}

<li class = "comment">
<div class = "row">

<div class = "comment_user-info col-2">
{% if comment.author.profile.user_image %}
<img class = "user-image" src = "{{comment.author.profile.user_image.url}}" width = "150px">
{% else %}
<img class = "user-image" src = "{{comment.author.profile.get_default_image_url}}" width = "150px">
{% endif %}
 <p class = "comment_user-info__author">{{comment.author}}</p> 
</div>

<div class = "comment_content col-10">

<div class = "comment_content__body">{{comment.text_content}}</div>

<div class = "comment_content__date">{{comment.date}}</div>
</div>
</div>
</li>

{% endfor %}
</ul>

{% endblock %}