body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.page__header{
	font-size: 24px;
	color: #fff;
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: #673ab7;
	margin-bottom: 50px;
	padding: 12px 0px;
}

.header__wrapper{
	padding: 0px 7%;
}

.top-menu{
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.logo{
	text-decoration: none;
	color: #fff;
}
.top-menu__row{
	display: inline-block;
}
.top-menu__item{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	margin-right: 10px;
}
.page__main-block{
	margin-top: 100px;
	padding: 0% 10%;
}